
var ac = new Autocomplete('inputbox');
input {
    width: 200 px;
}

input _drop {
    margin: 0;
    padding: 0;
    padding: 6px;
    font-size: 16px;
    font-family: 'helvetica neue', helvetica, sans-serif;
}

_drop {
    display: none;
    list-style-type: none;
    list-style-position: inside;
    border-style: none groove;
    border-color: silver;
    border-width:5px;
    width: 195px;
    background-color: lightgray;
}